{% extends 'base.html' %}
{% block title %}Post Your Listing{% endblock %}

{% block body %}
    <form action="/post_listing" method="POST">
        <p>
            <label for="add_name">Apartment Name:</label>
            <input id="add_name" type="text" name="add_name" required>
        </p>
        <p>
            <label for="add_phone">Phone:</label>
            <input id="add_phone" type="text" name="add_phone" pattern="[0-9]{10}" required>
        </p>
        <p>
            <label for="add_address">Address:</label>
            <input id="add_address" type="text" name="add_address" required>
        </p>
        <p>
            <label for="add_city">City:</label>
            <input id="add_city" type="text" name="add_city" required>
        </p>
        <p>
            <label for="add_state">State:</label>
            <input id="add_state" type="text" name="add_state" required>
        </p>
        <p>
            <label for="add_zip_code">Zip Code:</label>
            <input id="add_zip_code" type="text" name="add_zip_code" required>
        </p>
        <p>
            <label for="add_image_url">Image URL:</label>
            <input id="add_image_url" type="text" name="add_image_url">
        </p>
        <p>
            <label for="add_rating">Rating:</label>
            <input id="add_rating" type="number" step="0.1" name="add_rating" required>
        </p>
            
            <input id="add_yelp_id" type="hidden" value="" name="add_yelp_id">
        <button id="post_listing_button" type="submit">Post Listing</button>
    </form>
{% endblock %}