{% extends 'base.html' %}
{% block title %}Apartment Finder Home{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h1>Welcome to Apartment Finder!</h1>
   <form action="/listings" method="'GET">
    <label for="zipcode">Enter your search here:</label>
    <input type="text" name="zipcode" id="zipcode" type="text" placeholder="Address,City,or Zipcode" required>
    <button type="submit">Submit</button>
   </form>


{% endblock %}