{% extends 'base.html' %}
{% block title %}User Listings{% endblock %}

{% block body %} 

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}

    <h2>User Listings</h2>
    
    <p>
      <span id="result-count">
        {{ listing_count }}
      </span>
      listings in your account.
    </p>

    <div id="favorite_listing" style="border:solid black 1px;"></div>

    <button id="add_listing" ><a href="/add_listing">Post new listing</a></button>

    

    <ul class="user_listings-list list-group">
        {% for user_listing in user_listings %}
          <li class="list-group-item list-group-item-action">
            
            <div class="row">
              <div class="col">
                <div class="d-flex w-100 justify-content-between">
                  <h5>Apartment Name: <a href="listings/{{user_listing.listing_id}}" target="_blank">{{ user_listing.name }}</a></h5>
                  
                  <h5>Rating: {{ user_listing.rating }}</h5>
                  <div class="user_buttons">
                    <button class="favorite_button btn btn-info" id="{{user_listing.listing_id}}"> <a href="#favorite_listing">Set This My Favorite</a></button>
                    <button class="delete_listing_button btn btn-danger" id="{{user_listing.listing_id}}">Delete Listing</button>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="row">
              <div class="col-6">
                <img class="listing_img" src="{{ user_listing.image_url }}">
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
{% endblock %}

{% block js %}
<script src="/static/project.js"></script>
{% endblock %}