{% extends 'base.html' %}
{% block title %}User Listings{% endblock %}

{% block body %} 
    <h1>You are logged in. </h1>
    <h4><a href="{{url_for('logout')}}">Clike here to log out.</a></h4>
    <h2>User Listings</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <p>
      <span id="result-count">
        {{ listing_count }}
      </span>
      listings in your account.
    </p>

    <div id="favorite_listing" style="border:solid black 1px;"></div>

    <button id="add_listing"><a href="/add_listing">Post new listing</a></button>

    

    <ul class="user_listings-list list-group">
        {% for user_listing in user_listings %}
          <li class="list-group-item list-group-item-action">
            
            <div class="row">
              <div class="col">
                <div class="d-flex w-100 justify-content-between">
                  <h5>Apartment Name: <a href="" target="_blank">{{ user_listing.name }}</a></h5>
                  
                  <h5>Rating: {{ user_listing.rating }}</h5>
                  <button class="favorite_button" id="{{user_listing.listing_id}}"> Set This My Favorite</button>
                 
                </div>
              </div>
            </div>
          
            <div class="row">
              <div class="col-6">
                <img src="{{ user_listing.image_url }}">
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
{% endblock %}

{% block js %}
<script src="/static/project.js"></script>
{% endblock %}